.checkControl {
    position: relative;
    height: 40px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
 
 .checkControl label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: -10px;
 }
 
 .checkControl span {
    margin-right: 10px;
 }
 
 .checkControl input {
    width: 18px;
    aspect-ratio: 1/1;
 }